#pc-page {
    display: block;
}

#sp-page {
    display: none;
}

body {
  margin: 10px;
  background-image: url("../img/pink-olive.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

ul {
  margin: 0;
  list-style-type: none;
  padding-left: 0;
}

li {
  display: inline-block;
  padding: 4px 8px;
  font-size: 12px;
}

.title {
  font-family: Helvetica, sans-serif;
  letter-spacing: 6px;
  color: #898989;
  font-size: 30px;
}

a {
    text-decoration: none;
    color: #0D7E83;
    font-size: 18px;
}

a:hover {
    color: blue;
}

p {
  color: #898989;
  font-size: 14px;
  margin-top: 10px;
  margin-left: 30px;
}

.link {
  letter-spacing: 2px;
  border-radius: 20px;
  font-family: Verdana, sans-serif;
  position: absolute;
  top: 6%;
  left: 4%;
  padding-top: 1%;
  padding-left: 4%;
  padding-right: 5%;
  background: #ffffff7a;
}

.footer {
  text-align: right;
}


img.season {
  border-radius: 10px;
  position: absolute;
  width: 60%;
  top: 0%;
  left: 20%;
  margin-top: 10%;
  margin-right: 10%;
  margin-left: 10%;
  margin-bottom: 10%; 
  display: inline-block;
  background-color: black;
  content: ' ';
}
