#pc-page {
    display: block;
}

#sp-page {
    display: none;
}

body {
 /* background-image: url("../img/white-wall-wood.jpg"); */
  /* background-color: #e9eff5; */
  margin: 10px;
}

ul {
  margin: 0;
  list-style-type: none;
  padding-left: 0;
}

li {
  display: inline-block;
  padding: 4px 8px;
  font-size: 12px;
}

.title {
  font-family: Helvetica, sans-serif;
  letter-spacing: 6px;
  color: #898989;
  font-size: 30px;
}

a {
    text-decoration: none;
    color: #0D7E83;
    font-size: 18px;
}

a:hover {
    color: blue;
}

p {
  color: #898989;
  font-size: 14px;
  margin-top: 10px;
  margin-left: 30px;
}

.link {
  letter-spacing: 2px;
  border-radius: 20px;
  font-family: Verdana, sans-serif;
  position: absolute;
  top: 6%;
  left: 21%;
  padding-top: 1%;
  /* padding-bottom: 1%; */
  padding-left: 4%;
  padding-right: 5%;
  z-index: 20;
  background: #ffffff9e;
}

.rabbit {
  position: absolute;
  top: 13%;
  left: 30%;
  width: 28%;
  z-index: 30;
}

.footer {
  text-align: right;
}

img.season {
  border-radius: 20px;
  position: absolute;
  width: 46%;
  top: 0%;
  left: 8%;
  margin-top: 2%;
  margin-right: 5%;
  margin-left: 10%;
  margin-bottom: 5%;
  text-align: center;
  z-index: 10;
  background-color: black;
  opacity: 0.4;
  content: ' ';
}
