#pc-page {
    display: block;
}

#sp-page {
    display: none;
}

body {
  background-color: #e9eff5;
  margin: 10px;
}

ul {
  margin: 0;
  list-style-type: none;
  padding-left: 0;
}

li {
  display: inline-block;
  padding: 4px 8px;
  font-size: 12px;
}

.title {
  font-family: Helvetica, sans-serif;
  letter-spacing: 6px;
  color: #184d88;
  font-size: 30px;
}

a {
    text-decoration: none;
    color: #3aabd2;
    font-size: 18px;
}

a:hover {
    color: blue;
}

p {
  color: #184d88;
  font-size: 14px;
  margin-left: 30px;
}

.link {
  letter-spacing: 2px;
  border-radius: 20px;
  font-family: Verdana, sans-serif;
  position: absolute;
  top: 20%;
  left: 14%;
  padding-top: 3%;
  padding-bottom: 2%;
  padding-left: 6%;
  padding-right: 14%;
  z-index: 20;
  background: #ffffff9e;
}

.rabbit {
  position: absolute;
  top: 23%;
  left: 25%;
  width: 30%;
  z-index: 30;
}

img.flower {
  border-radius: 20px;
  position: absolute;
  width: 70%;
  top: 2%;
  left: 8%;
  margin-top: 2%;
  margin-right: 5%;
  margin-left: 10%;
  margin-bottom: 5%;
  text-align: center;
  z-index: 10;
}
